In [1]:
import requests
import pandas as pd

In [2]:
api_key = ''

# 리그의 소환사 데이터 수집(Challenger, GrandMaster, Master...)

In [3]:
def get_league_data(league):
    url = 'https://kr.api.riotgames.com/lol/league/v4/'+ league +'leagues/by-queue/RANKED_SOLO_5x5?api_key=' + api_key
    league_df = pd.DataFrame(requests.get(url).json())
    league_df.reset_index(inplace=True)#수집한 그마데이터 index정리
    league_entries_df = pd.DataFrame(dict(league_df['entries'])).T #dict구조로 되어 있는 entries컬럼 풀어주기
    league_df = pd.concat([league_df, league_entries_df], axis=1) #열끼리 결합
    league_df = league_df.drop(['index', 'queue', 'name', 'leagueId', 'entries', 'rank'], axis=1)
#     league_df.to_csv(league + '.csv',index=False,encoding = 'cp949')#중간저장
    return league_df

In [4]:
chal_df = get_league_data('challenger')
gma_df = get_league_data('grandmaster')
ma_df = get_league_data('master')

In [5]:
chal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tier          300 non-null    object
 1   summonerId    300 non-null    object
 2   summonerName  300 non-null    object
 3   leaguePoints  300 non-null    object
 4   wins          300 non-null    object
 5   losses        300 non-null    object
 6   veteran       300 non-null    object
 7   inactive      300 non-null    object
 8   freshBlood    300 non-null    object
 9   hotStreak     300 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [6]:
chal_df.head()

,tier,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,hotStreak
0,CHALLENGER,MEgpcYnO3UvT6gjZ5HxWXH_2c6JEv7oNBu8vsSA9sHhOIfk,진철수삼촌,905,325,275,False,False,True,True
1,CHALLENGER,VOB0M4-Zbfuv0DVpA3_1FqbcRN3a6KGSMmBnKizzCfdGhnk,Mango Fish,1064,580,463,True,False,False,False
2,CHALLENGER,17dXyYuKyxKncQ2U-taCYp2n9g16FbBpxGDmMt8ZB0pvVxE,11baby,835,1351,1269,True,False,False,False
3,CHALLENGER,PM_codhC0CZwPDIu5jawgMqhSR2OkMdUyP_rnPXbvn2mBb0,FA Mlnit,1134,612,545,True,False,False,False
4,CHALLENGER,ioQMeJFV3eTydg973l3cDvonAznWEwp5zOLZCMVuI21s_AE,나는 준일하다,1073,398,341,True,False,False,False