In [2]:
import requests 
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pickle
import csv

In [3]:
DATA_PATH = "../../data/"

In [4]:
path = DATA_PATH + "champion.csv"
reader = csv.reader(open(path))
head = next(reader)

 # 라인별 챔피언 dict 생성 line_dict = {key : champ_str}
 __0 : TOP__ / __1 : MID__ / __2 : JUNGLE__ / __3 : AD_CARRY__ / __4 : SUPPORT__

In [5]:
top_dict = {}
jungle_dict = {}
mid_dict = {}
carry_dict = {}
sup_dict = {}

for row in reader:
    print(row)
    key = int(row[2]); champ_str = row[1]; line = int(row[3])
    if line == 0: top_dict[key] = champ_str
    elif line == 1: jungle_dict[key] = champ_str
    elif line == 2: mid_dict[key] = champ_str
    elif line == 3: carry_dict[key] = champ_str
    elif line == 4: sup_dict[key] = champ_str

['0', 'Aatrox', '266', '0']
['1', 'Ahri', '103', '2']
['2', 'Akali', '84', '2']
['3', 'Alistar', '12', '4']
['4', 'Amumu', '32', '1']
['5', 'Anivia', '34', '2']
['6', 'Annie', '1', '4']
['7', 'Aphelios', '523', '3']
['8', 'Ashe', '22', '3']
['9', 'AurelionSol', '136', '2']
['10', 'Azir', '268', '2']
['11', 'Bard', '432', '4']
['12', 'Blitzcrank', '53', '4']
['13', 'Brand', '63', '4']
['14', 'Braum', '201', '4']
['15', 'Caitlyn', '51', '3']
['16', 'Camille', '164', '0']
['17', 'Cassiopeia', '69', '2']
['18', 'Chogath', '31', '0']
['19', 'Corki', '42', '2']
['20', 'Darius', '122', '0']
['21', 'Diana', '131', '2']
['22', 'DrMundo', '36', '0']
['23', 'Draven', '119', '3']
['24', 'Ekko', '245', '1']
['25', 'Elise', '60', '1']
['26', 'Evelynn', '28', '1']
['27', 'Ezreal', '81', '3']
['28', 'Fiddlesticks', '9', '1']
['29', 'Fiora', '114', '0']
['30', 'Fizz', '105', '2']
['31', 'Galio', '3', '2']
['32', 'Gangplank', '41', '0']
['33', 'Garen', '86', '0']
['34', 'Gnar', '150', '0']
['35', 'Gragas', '79', '1']
['36', 'Graves', '104', '1']
['37', 'Hecarim', '120', '1']
['38', 'Heimerdinger', '74', '0']
['39', 'Illaoi', '420', '0']
['40', 'Irelia', '39', '0']
['41', 'Ivern', '427', '1']
['42', 'Janna', '40', '4']
['43', 'JarvanIV', '59', '1']
['44', 'Jax', '24', '0']
['45', 'Jayce', '126', '0']
['46', 'Jhin', '202', '3']
['47', 'Jinx', '222', '3']
['48', 'Kaisa', '145', '3']
['49', 'Kalista', '429', '3']
['50', 'Karma', '43', '4']
['51', 'Karthus', '30', '1']
['52', 'Kassadin', '38', '2']
['53', 'Katarina', '55', '2']
['54', 'Kayle', '10', '0']
['55', 'Kayn', '141', '1']
['56', 'Kennen', '85', '0']
['57', 'Khazix', '121', '1']
['58', 'Kindred', '203', '1']
['59', 'Kled', '240', '0']
['60', 'KogMaw', '96', '3']
['61', 'Leblanc', '7', '2']
['62', 'LeeSin', '64', '1']
['63', 'Leona', '89', '4']
['64', 'Lillia', '876', '1']
['65', 'Lissandra', '127', '2']
['66', 'Lucian', '236', '3']
['67', 'Lulu', '117', '4']
['68', 'Lux', '99', '4']
['69', 'Malphite', '54', '0']
['70', 'Malzahar', '90', '2']
['71', 'Maokai', '57', '4']
['72', 'MasterYi', '11', '1']
['73', 'MissFortune', '21', '3']
['74', 'MonkeyKing', '62', '0']
['75', 'Mordekaiser', '82', '0']
['76', 'Morgana', '25', '4']
['77', 'Nami', '267', '4']
['78', 'Nasus', '75', '0']
['79', 'Nautilus', '111', '4']
['80', 'Neeko', '518', '4']
['81', 'Nidalee', '76', '1']
['82', 'Nocturne', '56', '1']
['83', 'Nunu', '20', '1']
['84', 'Olaf', '2', '1']
['85', 'Orianna', '61', '2']
['86', 'Ornn', '516', '0']
['87', 'Pantheon', '80', '4']
['88', 'Poppy', '78', '0']
['89', 'Pyke', '555', '4']
['90', 'Qiyana', '246', '2']
['91', 'Quinn', '133', '0']
['92', 'Rakan', '497', '4']
['93', 'Rammus', '33', '1']
['94', 'RekSai', '421', '1']
['95', 'Renekton', '58', '0']
['96', 'Rengar', '107', '0']
['97', 'Riven', '92', '0']
['98', 'Rumble', '68', '0']
['99', 'Ryze', '13', '0']
['100', 'Samira', '360', '3']
['101', 'Sejuani', '113', '1']
['102', 'Senna', '235', '4']
['103', 'Seraphine', '147', '4']
['104', 'Sett', '875', '0']
['105', 'Shaco', '35', '1']
['106', 'Shen', '98', '0']
['107', 'Shyvana', '102', '1']
['108', 'Singed', '27', '0']
['109', 'Sion', '14', '0']
['110', 'Sivir', '15', '3']
['111', 'Skarner', '72', '0']
['112', 'Sona', '37', '4']
['113', 'Soraka', '16', '4']
['114', 'Swain', '50', '4']
['115', 'Sylas', '517', '2']
['116', 'Syndra', '134', '2']
['117', 'TahmKench', '223', '4']
['118', 'Taliyah', '163', '1']
['119', 'Talon', '91', '2']
['120', 'Taric', '44', '4']
['121', 'Teemo', '17', '0']
['122', 'Thresh', '412', '4']
['123', 'Tristana', '18', '3']
['124', 'Trundle', '48', '1']
['125', 'Tryndamere', '23', '0']
['126', 'TwistedFate', '4', '2']
['127', 'Twitch', '29', '3']
['128', 'Udyr', '77', '1']
['129', 'Urgot', '6', '0']
['130', 'Varus', '110', '3']
['131', 'Vayne', '67', '3']
['132', 'Veigar', '45', '2']
['133', 'Velkoz', '161', '4']
['134', 'Vi', '254', '1']
['135', 'Viktor', '112', '2']
['136', 'Vladimir', '8', '0']
['137', 'Volibear', '106', '0']
['138', 'Warwick', '19', '1']
['139', 'Xayah', '498', '3']
['140', 'Xerath', '101', '2']
['141', 'XinZhao', '5', '1']
['142', 'Yasuo', '157', '2']
['143', 'Yone', '777', '2']
['144', 'Yorick', '83', '0']
['145', 'Yuumi', '350', '4']
['146', 'Zac', '154', '1']
['147', 'Zed', '238', '2']
['148', 'Ziggs', '115', '2']
['149', 'Zilean', '26', '4']
['150', 'Zoe', '142', '2']
['151', 'Zyra', '143', '4']

In [6]:
top_dict.values()

dict_values(['Aatrox', 'Camille', 'Chogath', 'Darius', 'DrMundo', 'Fiora', 'Gangplank', 'Garen', 'Gnar', 'Heimerdinger', 'Illaoi', 'Irelia', 'Jax', 'Jayce', 'Kayle', 'Kennen', 'Kled', 'Malphite', 'MonkeyKing', 'Mordekaiser', 'Nasus', 'Ornn', 'Poppy', 'Quinn', 'Renekton', 'Rengar', 'Riven', 'Rumble', 'Ryze', 'Sett', 'Shen', 'Singed', 'Sion', 'Skarner', 'Teemo', 'Tryndamere', 'Urgot', 'Vladimir', 'Volibear', 'Yorick'])

In [7]:
jungle_dict.values()

dict_values(['Amumu', 'Ekko', 'Elise', 'Evelynn', 'Fiddlesticks', 'Gragas', 'Graves', 'Hecarim', 'Ivern', 'JarvanIV', 'Karthus', 'Kayn', 'Khazix', 'Kindred', 'LeeSin', 'Lillia', 'MasterYi', 'Nidalee', 'Nocturne', 'Nunu', 'Olaf', 'Rammus', 'RekSai', 'Sejuani', 'Shaco', 'Shyvana', 'Taliyah', 'Trundle', 'Udyr', 'Vi', 'Warwick', 'XinZhao', 'Zac'])

In [8]:
carry_dict.items()

dict_items([(523, 'Aphelios'), (22, 'Ashe'), (51, 'Caitlyn'), (119, 'Draven'), (81, 'Ezreal'), (202, 'Jhin'), (222, 'Jinx'), (145, 'Kaisa'), (429, 'Kalista'), (96, 'KogMaw'), (236, 'Lucian'), (21, 'MissFortune'), (360, 'Samira'), (15, 'Sivir'), (18, 'Tristana'), (29, 'Twitch'), (110, 'Varus'), (67, 'Vayne'), (498, 'Xayah')])

In [10]:
with open(DATA_PATH + 'numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
numberWinsChampion = pd.DataFrame(numberWinsChampion)
numberWinsChampion.fillna(0, inplace=True)
numberWinsChampion.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,12.0,0.0,6.0,6.0,0.0,1.0,0.0,19.0,5.0,0.0,...,8.0,1.0,0.0,6.0,7.0,9.0,2.0,4.0,18.0,0.0
84,24.0,10.0,0.0,51.0,1.0,2.0,2.0,66.0,74.0,6.0,...,40.0,44.0,2.0,17.0,13.0,19.0,4.0,4.0,52.0,1.0
12,24.0,16.0,36.0,0.0,0.0,3.0,2.0,47.0,41.0,2.0,...,14.0,14.0,0.0,17.0,6.0,14.0,1.0,8.0,38.0,4.0
32,0.0,0.0,1.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0
34,3.0,5.0,4.0,2.0,0.0,0.0,0.0,7.0,5.0,0.0,...,3.0,3.0,0.0,1.0,1.0,2.0,1.0,1.0,2.0,0.0

In [11]:
top_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() 
                       if k in list(top_dict.keys())})
jungle_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() 
                          if k in list(jungle_dict.keys())})
mid_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() 
                       if k in list(mid_dict.keys())})
carry_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() 
                         if k in list(carry_dict.keys())})
sup_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() 
                       if k in list(sup_dict.keys())})

In [12]:
top_df.head()

,266,164,31,122,36,114,41,86,150,74,...,98,27,14,72,17,23,6,8,106,83
103,12.0,12.0,1.0,6.0,1.0,10.0,6.0,5.0,1.0,1.0,...,5.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,0.0
84,24.0,120.0,2.0,19.0,0.0,38.0,36.0,20.0,3.0,10.0,...,30.0,6.0,4.0,2.0,1.0,9.0,8.0,16.0,33.0,2.0
12,24.0,69.0,2.0,9.0,2.0,22.0,12.0,13.0,1.0,5.0,...,23.0,3.0,0.0,1.0,0.0,4.0,3.0,8.0,12.0,0.0
32,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34,3.0,10.0,1.0,5.0,0.0,3.0,5.0,5.0,0.0,1.0,...,4.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,0.0

In [13]:
with open(DATA_PATH + 'numberWinsCombination.pickle', 'rb') as fr:
    numberWinsCombination = pickle.load(fr)
numberWinsCombination = pd.DataFrame(numberWinsCombination)
numberWinsCombination.fillna(0, inplace=True)
numberWinsCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,16.0,0.0,11.0,10.0,0.0,0.0,0.0,22.0,11.0,0.0,...,5.0,0.0,0.0,14.0,6.0,1.0,2.0,5.0,0.0,1.0
84,23.0,11.0,0.0,62.0,1.0,2.0,2.0,81.0,102.0,1.0,...,27.0,19.0,0.0,24.0,14.0,19.0,3.0,8.0,30.0,3.0
12,36.0,10.0,62.0,0.0,3.0,4.0,1.0,73.0,60.0,6.0,...,83.0,31.0,0.0,0.0,14.0,22.0,2.0,5.0,63.0,0.0
32,1.0,0.0,1.0,3.0,0.0,0.0,0.0,1.0,3.0,0.0,...,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0
34,8.0,0.0,2.0,4.0,0.0,0.0,0.0,15.0,6.0,0.0,...,2.0,0.0,1.0,2.0,3.0,1.0,0.0,2.0,0.0,1.0

In [14]:
with open(DATA_PATH + 'numberLosesCombination.pickle', 'rb') as fr:
    numberLosesCombination = pickle.load(fr)
numberLosesCombination = pd.DataFrame(numberLosesCombination)
numberLosesCombination.fillna(0, inplace=True)
numberLosesCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,18.0,0.0,6.0,7.0,0.0,0.0,0.0,16.0,9.0,0.0,...,5.0,2.0,0.0,16.0,5.0,0.0,0.0,4.0,0.0,1.0
84,27.0,6.0,0.0,52.0,1.0,1.0,3.0,93.0,111.0,4.0,...,18.0,23.0,2.0,27.0,21.0,24.0,3.0,6.0,35.0,10.0
12,24.0,7.0,52.0,0.0,0.0,5.0,3.0,93.0,57.0,4.0,...,55.0,33.0,1.0,0.0,5.0,16.0,6.0,5.0,41.0,1.0
32,4.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,...,2.0,0.0,0.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0
34,7.0,0.0,1.0,5.0,0.0,0.0,0.0,14.0,8.0,1.0,...,1.0,0.0,0.0,2.0,3.0,1.0,0.0,1.0,0.0,0.0

In [15]:
def calc_total_match(line_df):
    for A in line_df:
        for B in line_df:
            total = numberWinsChampion[A][B] + numberWinsChampion[B][A]
            line_df[A][B] = total

In [16]:
top_total = top_df.copy()
jungle_total = jungle_df.copy()
mid_total = mid_df.copy()
carry_total = carry_df.copy()
sup_total = sup_df.copy()
champ_total = numberWinsChampion.copy()

calc_total_match(top_total)
calc_total_match(jungle_total)
calc_total_match(carry_total)
calc_total_match(sup_total)
calc_total_match(champ_total)

champ_total.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,26.0,0.0,16.0,22.0,0.0,6.0,1.0,30.0,17.0,0.0,...,15.0,8.0,0.0,13.0,13.0,13.0,5.0,6.0,37.0,0.0
84,51.0,16.0,0.0,87.0,2.0,6.0,3.0,129.0,145.0,10.0,...,66.0,80.0,2.0,29.0,24.0,39.0,7.0,6.0,113.0,2.0
12,50.0,22.0,87.0,0.0,1.0,5.0,3.0,95.0,78.0,6.0,...,29.0,31.0,0.0,32.0,22.0,32.0,5.0,11.0,86.0,6.0
32,0.0,0.0,2.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0,...,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,2.0,1.0
34,6.0,6.0,6.0,5.0,0.0,0.0,0.0,18.0,7.0,0.0,...,8.0,4.0,0.0,4.0,4.0,3.0,1.0,2.0,9.0,0.0

In [22]:
# champ_nums = 152 
# games = []  # 평균 판수를 구하기 위한 리스트
# for i in champ_total:
#     games.append(round(sum(champ_total[i]) / (champ_nums - 1), 2)) # 자신 vs 151개의 챔프에 대하여
# len(games)

152

In [16]:
# game_mean = sum(games) / champ_nums

# 게임수의 평균은 32게임??
## 은 중복값 제거전..

In [17]:
# game_mean

32.41065789473682

In [18]:
# 판수 = []
# for i in champ_total:
#     for j in champ_total[i].index:
#         판수.append(champ_total[i][j])
# 총판수 = len(판수) - 152 # 미러전 뺀다

In [19]:
# round(game_mean, 2) == round(sum(판수) / 총판수, 2)

True

In [24]:
# 판수

In [21]:
s=0
for i in range(152):
    s += i
print(s)

11476

# 중복제거후 평균, 표준편차 구하기...

In [23]:
columns = [c for c in champ_total]
columns.sort()
columns
rows = columns.copy()

t_idx = []
for c in columns:
    for r in columns:
        if not c == r: t_idx.append([c,r])
        
t_idx[:152]

[[1, 2],
 [1, 3],
 [1, 4],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [1, 9],
 [1, 10],
 [1, 11],
 [1, 12],
 [1, 13],
 [1, 14],
 [1, 15],
 [1, 16],
 [1, 17],
 [1, 18],
 [1, 19],
 [1, 20],
 [1, 21],
 [1, 22],
 [1, 23],
 [1, 24],
 [1, 25],
 [1, 26],
 [1, 27],
 [1, 28],
 [1, 29],
 [1, 30],
 [1, 31],
 [1, 32],
 [1, 33],
 [1, 34],
 [1, 35],
 [1, 36],
 [1, 37],
 [1, 38],
 [1, 39],
 [1, 40],
 [1, 41],
 [1, 42],
 [1, 43],
 [1, 44],
 [1, 45],
 [1, 48],
 [1, 50],
 [1, 51],
 [1, 53],
 [1, 54],
 [1, 55],
 [1, 56],
 [1, 57],
 [1, 58],
 [1, 59],
 [1, 60],
 [1, 61],
 [1, 62],
 [1, 63],
 [1, 64],
 [1, 67],
 [1, 68],
 [1, 69],
 [1, 72],
 [1, 74],
 [1, 75],
 [1, 76],
 [1, 77],
 [1, 78],
 [1, 79],
 [1, 80],
 [1, 81],
 [1, 82],
 [1, 83],
 [1, 84],
 [1, 85],
 [1, 86],
 [1, 89],
 [1, 90],
 [1, 91],
 [1, 92],
 [1, 96],
 [1, 98],
 [1, 99],
 [1, 101],
 [1, 102],
 [1, 103],
 [1, 104],
 [1, 105],
 [1, 106],
 [1, 107],
 [1, 110],
 [1, 111],
 [1, 112],
 [1, 113],
 [1, 114],
 [1, 115],
 [1, 117],
 [1, 119],
 [1, 120],
 [1, 121],
 [1, 122],
 [1, 126],
 [1, 127],
 [1, 131],
 [1, 133],
 [1, 134],
 [1, 136],
 [1, 141],
 [1, 142],
 [1, 143],
 [1, 145],
 [1, 147],
 [1, 150],
 [1, 154],
 [1, 157],
 [1, 161],
 [1, 163],
 [1, 164],
 [1, 201],
 [1, 202],
 [1, 203],
 [1, 222],
 [1, 223],
 [1, 235],
 [1, 236],
 [1, 238],
 [1, 240],
 [1, 245],
 [1, 246],
 [1, 254],
 [1, 266],
 [1, 267],
 [1, 268],
 [1, 350],
 [1, 360],
 [1, 412],
 [1, 420],
 [1, 421],
 [1, 427],
 [1, 429],
 [1, 432],
 [1, 497],
 [1, 498],
 [1, 516],
 [1, 517],
 [1, 518],
 [1, 523],
 [1, 555],
 [1, 777],
 [1, 875],
 [1, 876],
 [2, 1]]