확인 시 clone후 read_csv 통해서 확인하면 바로 가능함.

코드 실행시키면 api 키 값도 없어서 진행도 안될뿐더러, csv를 새로 만들기 때문에 확인불가

In [1]:
import requests 
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pickle

In [2]:
api_key = ''
current_version = requests.get('https://ddragon.leagueoflegends.com/api/versions.json').json()[0]
current_version

'10.23.1'

In [ ]:
# 챔피언 종류 받아와서 아이디, key 따로 저장하기

# 이미 실행되어 파일로 저장되어 있음, 재 실행 금지 (line값 수작업으로 넣었음)

# champion_dict = {}
# r = requests.get('http://ddragon.leagueoflegends.com/cdn/{}/data/ko_KR/champion.json'.format(current_version))
# info_df = pd.DataFrame(r.json())
# for i, champ in enumerate(info_df.data):
#     champion_dict[champ['id']] = champ['key']
    
# champion = pd.DataFrame()
# champion['id'] = 0
# champion['key'] = 0

# for i, champ in enumerate(info_df.data):
#     champion.loc[i] = [champ['id'], champ['key']]
    
# champion.to_csv('../data/champion.csv')

In [ ]:
champion = pd.read_csv('../data/champion.csv', index_col=[0])

In [ ]:
champion.head()

In [ ]:
# 챌~그랜드마스터 구간 유저 1000명 값 불러와서 dataframe으로 만들고 필요없는 컬럼들 제거하기
# 라이엇게임즈 API 제공 데이터 제한으로 인해 챌-그랜드마스터로 우선 진행 후 데이터 추가적으로 필요할 시 더 받을 예정

# 이미 실행되어 파일로 저장되어 있음

# api_challenger = 'https://kr.api.riotgames.com/lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5?api_key=' + api_key
# api_grandmaster = 'https://kr.api.riotgames.com/lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5?api_key=' + api_key

# cgm_userData = pd.DataFrame(requests.get(api_challenger).json())
# r = requests.get(api_grandmaster)
# cgm_userData = pd.concat([cgm_userData, pd.DataFrame(r.json())], axis=0)

# cgm_userData.reset_index(inplace=True)
# league_entries_df = pd.DataFrame(dict(cgm_userData['entries'])).T
# cgm_userData = pd.concat([cgm_userData, league_entries_df], axis=1)
# cgm_userData = cgm_userData.drop(['index', 'queue', 'name', 'leagueId', 'entries', 'rank', 'freshBlood', 'hotStreak', 'inactive', 'veteran', 'wins', 'losses'], axis=1)

# cgm_userData['account_id'] = np.nan
# for i, summoner_id in enumerate(cgm_userData[:]['summonerId']):
#     api_url = 'https://kr.api.riotgames.com/lol/summoner/v4/summoners/' + summoner_id + '?api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     account_id = r.json()['accountId']
#     cgm_userData.iloc[i, -1] = account_id

In [ ]:
# accountID로 순서대로 1계정당 100개씩 전적 불러오기

# 이미 실행되어 파일로 저장되어 있음

# season = str(13)
# queue = str(420)
# cgm_gameidInfo = pd.DataFrame()

# i = 0
# for account_id in cgm_userData[:]['account_id']:
#     api_url = 'https://kr.api.riotgames.com/lol/match/v4/matchlists/by-account/' + account_id + \
#                   '?queue=' + queue + '&season' + season + '&api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     cgm_gameidInfo = pd.concat([cgm_gameidInfo, pd.DataFrame(r.json()['matches'])])
#     most = cgm_gameidInfo['champion'][i * 100:(i + 1) * 100].value_counts(sort=True).index[0]
#     cgm_userData['most_champion'][i] = most
#     i += 1

# cgm_userData.to_csv('../data/cgm_userData.csv')

# gameID가 겹치면 삭제. 상위티어이기 때문에 약 60%가량 발생 100000 -> 40812

# cgm_gameidInfo = cgm_gameidInfo.drop_duplicates('gameId')

# 재 실행하면 밑 2줄은 필요 없음
# select_indices = (cgm_gameidInfo['queue']==420) | (cgm_gameidInfo['queue']==440)
# cgm_gameidInfo = cgm_gameidInfo.loc[select_indices, :].reset_index(drop=True)
# cgm_gameidInfo.to_csv('../data/cgm_gameidInfo.csv')

In [ ]:
cgm_userData = pd.read_csv('../data/cgm_userData.csv', index_col=[0])

In [ ]:
cgm_userData.head()

In [ ]:
cgm_gameidInfo = pd.read_csv('../data/cgm_gameidInfo.csv', index_col=[0])

In [ ]:
cgm_gameidInfo.head()

In [ ]:
# 위에서 얻어낸 게임ID를 약 4만개의 실제 게임데이터를 받아옴
# 이미 실행되어 파일로 저장되어 있음

# cgm_match = pd.DataFrame()
# for game_id in cgm_gameidInfo[:]['gameId']:
#     api_url = 'https://kr.api.riotgames.com/lol/match/v4/matches/' + str(game_id) + '?api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     r_json = r.json()
#     temp_df = pd.DataFrame(list(r_json.values()), index=list(r_json.keys())).T
#     cgm_match = pd.concat([cgm_match, temp_df])

# cgm_match.to_csv('../data/cgm_match.csv')

In [ ]:
# cgm_gameidInfo2 = pd.read_csv('../data/cgm_gameidInfo2.csv')

In [ ]:
# cgm_match2 = pd.DataFrame()

In [ ]:
# # 따로 얻어온 gameID 약 8만개의 실제 게임데이터를 받아옴 59211

# for game_id in cgm_gameidInfo2[:]['gameId']:
#     api_url = 'https://kr.api.riotgames.com/lol/match/v4/matches/' + str(int(game_id)) + '?api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     r_json = r.json()
#     temp_df = pd.DataFrame(list(r_json.values()), index=list(r_json.keys())).T
#     cgm_match2 = pd.concat([cgm_match2, temp_df])

In [ ]:
cgm_match1 = pd.read_csv('../data/cgm_match1.csv', index_col=[0])

In [ ]:
cgm_match2 = pd.read_csv('../data/cgm_match2.csv', index_col=[0])

In [ ]:
# match_df에 3가지 team, participants, participantIdentities들이 문자열로 받아지는 현상 방지

for column in ['teams', 'participants', 'participantIdentities']:
    cgm_match1[column] = cgm_match1[column].map(lambda v: eval(v))
    cgm_match2[column] = cgm_match2[column].map(lambda v: eval(v))

In [ ]:
cgm_match1.head()

In [ ]:
cgm_match2.head()

In [ ]:
# 밴 리스트

In [ ]:
# numberWinsChampion = {}
# numberWinsCombination = {}
# numberLosesCombination = {}

# for a in champion_df['key']:
#     list = {}
#     for b in champion_df['key']:
#         if (a == b):
#             continue;
#         list[b] = 0
#     numberWinsChampion[a] = list
    
# for a in champion_df['key']:
#     list = {}
#     for b in champion_df['key']:
#         if (a == b):
#             continue;
#         list[b] = 0
#     numberWinsCombination[a] = list
    
# for a in champion_df['key']:
#     list = {}
#     for b in champion_df['key']:
#         if (a == b):
#             continue;
#         list[b] = 0
#     numberLosesCombination[a] = list

In [ ]:
# 게임데이터에서 챔피언 10개의 key값과, 해당 유저 accountID 정보 등 불러오기.
# cgm_match1, cgm_match2를 각각 넣고 실행시켜준다

# for i in range(len(cgm_match1[:])):
#     champion_list = []
#     for _ in range(10):
#         탑 0, 5 정글 1, 6 미드 2, 7 원딜 3, 8 서폿 4, 9로 맞추기 위한 작업필요
#         0~4, 5~9는 이긴 팀이 앞쪽으로 맞추기
#         lane = match_df['participants'][i][_]['timeline']['lane']
#         accountId = match_df['participantIdentities'][i][_]['player']['accountId']
#         championNum = cgm_match1['participants'][i][_]['championId']
#         champion_list.append(championNum)
#     if (cgm_match1['participants'][i][9]['stats']['win']):
#         champion_list = champion_list[5:] + champion_list[:5]
#     for _ in range(5):
#         numberWinsChampion[champion_list[_]][champion_list[_ + 5]] += 1
#     numberWinsCombination[champion_list[0]][champion_list[1]] += 1
#     numberWinsCombination[champion_list[1]][champion_list[0]] = numberWinsCombination[champion_list[0]][champion_list[1]]
#     numberWinsCombination[champion_list[1]][champion_list[2]] += 1
#     numberWinsCombination[champion_list[2]][champion_list[1]] = numberWinsCombination[champion_list[1]][champion_list[2]]
#     numberWinsCombination[champion_list[3]][champion_list[4]] += 1
#     numberWinsCombination[champion_list[4]][champion_list[3]] = numberWinsCombination[champion_list[3]][champion_list[4]]
#     numberLosesCombination[champion_list[5]][champion_list[6]] += 1
#     numberLosesCombination[champion_list[6]][champion_list[5]] = numberLosesCombination[champion_list[5]][champion_list[6]]
#     numberLosesCombination[champion_list[6]][champion_list[7]] += 1
#     numberLosesCombination[champion_list[7]][champion_list[6]] = numberLosesCombination[champion_list[6]][champion_list[7]]
#     numberLosesCombination[champion_list[8]][champion_list[9]] += 1
#     numberLosesCombination[champion_list[9]][champion_list[8]] = numberLosesCombination[champion_list[8]][champion_list[9]]

In [ ]:
# with open('../data/numberWinsChampion.pickle','wb') as fw:
#     pickle.dump(numberWinsChampion, fw)

In [ ]:
# with open('../data/numberWinsCombination.pickle','wb') as fw:
#     pickle.dump(numberWinsCombination, fw)

In [ ]:
# with open('../data/numberLosesCombination.pickle','wb') as fw:
#     pickle.dump(numberLosesCombination, fw)

### 동일한 챔피언인 경우의 NaN값을 -1로 바꿔줌 
### 랭크게임에서 동일한 챔피언은 선택 불가이기 때문에 -1가 152개 나와야 정상
### astype(int)로 df값들을 정수로 변환

In [31]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
numberWinsChampion = pd.DataFrame(numberWinsChampion)
numberWinsChampion.fillna(-1, inplace=True)
numberWinsChampion = numberWinsChampion.astype(int)
numberWinsChampion.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
1,1,1,1,1,0,0,-1,6,1,0,...,1,0,0,4,2,1,1,1,4,1
2,35,6,15,12,2,2,1,55,27,5,...,16,3,0,19,21,13,4,16,45,3
3,40,7,35,35,0,1,4,65,62,2,...,28,31,0,17,6,10,3,5,41,0
4,19,4,37,27,1,2,0,39,38,3,...,15,9,0,21,8,5,1,6,49,4
5,13,5,19,13,0,0,2,23,19,2,...,4,8,1,4,3,3,1,3,18,0

In [32]:
with open('../data/numberWinsCombination.pickle', 'rb') as fr:
    numberWinsCombination = pickle.load(fr)
numberWinsCombination = pd.DataFrame(numberWinsCombination)
numberWinsCombination.fillna(-1, inplace=True)
numberWinsCombination = numberWinsCombination.astype(int)
numberWinsCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
1,1,0,2,1,0,0,-1,3,4,0,...,0,0,0,2,0,0,0,1,0,2
2,45,7,30,14,0,6,0,89,23,8,...,16,2,2,45,8,9,6,18,142,1
3,20,0,34,51,0,0,1,78,65,3,...,19,4,0,8,17,3,5,4,6,4
4,38,0,20,34,1,0,1,76,52,0,...,7,0,2,15,13,1,1,8,0,5
5,9,6,49,10,0,3,0,20,16,1,...,5,3,0,7,2,2,1,3,36,0

In [5]:
with open('../data/numberLosesCombination.pickle', 'rb') as fr:
    numberLosesCombination = pickle.load(fr)
numberLosesCombination = pd.DataFrame(numberLosesCombination)
numberLosesCombination.fillna(-1, inplace=True)
numberLosesCombination = numberLosesCombination.astype(int)
numberLosesCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
1,3,0,3,3,0,0,-1,3,1,0,...,0,0,0,5,1,2,1,1,3,0
2,45,11,46,9,2,5,1,68,30,7,...,10,2,0,67,15,10,9,19,124,2
3,24,4,38,33,0,2,0,78,52,0,...,18,7,1,16,27,6,4,7,12,6
4,39,0,17,39,0,1,1,52,55,0,...,9,2,2,14,15,0,3,10,0,12
5,7,8,51,12,0,2,2,20,21,1,...,5,2,0,7,4,1,2,6,46,0

## 라인별 챔피언

In [34]:
champ = pd.read_csv("../data/champion.csv", index_col=[0])
def select_line(line):
    line = champ.key[champ.line == line]
    line = pd.DataFrame(line)
    lst = []
    for row in line['key']:
        lst.append(row)
    return lst

top_list = select_line(0)
jungle_list = select_line(1)
mid_list = select_line(2)
ad_list = select_line(3)
sup_list = select_line(4)

In [35]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
    
top_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in top_list})
jungle_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in jungle_list})
mid_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in mid_list})
ad_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in ad_list})
sup_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in sup_list})

In [36]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
numberWinsChampion = pd.DataFrame(numberWinsChampion)
numberWinsChampion.fillna(-1, inplace=True)
numberWinsChampion = numberWinsChampion.astype(int)
numberWinsChampion.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
1,1,1,1,1,0,0,-1,6,1,0,...,1,0,0,4,2,1,1,1,4,1
2,35,6,15,12,2,2,1,55,27,5,...,16,3,0,19,21,13,4,16,45,3
3,40,7,35,35,0,1,4,65,62,2,...,28,31,0,17,6,10,3,5,41,0
4,19,4,37,27,1,2,0,39,38,3,...,15,9,0,21,8,5,1,6,49,4
5,13,5,19,13,0,0,2,23,19,2,...,4,8,1,4,3,3,1,3,18,0

In [49]:
def win_rate(line_df):
    for champ in line_df:
        for 상대 in line_df[champ][:].index:
            if (numberWinsChampion[상대][champ] + numberWinsChampion[champ][상대]) < 25: 승률 = 0.5
            else: 승률 =  numberWinsChampion[champ][상대] / (numberWinsChampion[상대][champ] + numberWinsChampion[champ][상대])
            line_df[champ][상대] = round(승률, 4)

In [50]:
win_rate(top_df)
win_rate(jungle_df)
win_rate(mid_df)
win_rate(ad_df)
win_rate(sup_df)

In [51]:
# top_df.to_csv('../data/top_rate.csv')
# jungle_df.to_csv('../data/jungle_rate.csv')
# mid_df.to_csv('../data/mid_rate.csv')
# ad_df.to_csv('../data/ad_rate.csv')
# sup_df.to_csv('../data/sup_rate.csv')

In [52]:
top_df

,266,164,31,122,36,114,41,86,150,74,...,98,27,14,72,17,23,6,8,106,83
1,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
2,0.4545,0.5063,0.50,0.5000,0.5,0.5152,0.5000,0.3784,0.5000,0.5000,...,0.5357,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5862,0.5000,0.5
3,0.5556,0.4713,0.50,0.4000,0.5,0.5926,0.5000,0.5000,0.5000,0.5000,...,0.3962,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.4444,0.5
4,0.4130,0.4815,0.50,0.4615,0.5,0.6383,0.5000,0.5200,0.5000,0.5000,...,0.6000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5385,0.5000,0.5
5,0.4333,0.5385,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
6,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
7,0.4205,0.5172,0.50,0.5000,0.5,0.4902,0.5588,0.6774,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5897,0.5556,0.5
8,0.5424,0.4430,0.50,0.4333,0.5,0.6562,0.5610,0.5200,0.5000,0.5000,...,0.4286,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
9,0.6207,0.5769,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
10,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
11,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
12,0.4800,0.4859,0.50,0.5000,0.5,0.4783,0.5000,0.5000,0.5000,0.5000,...,0.5750,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.3871,0.5
13,0.5200,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
14,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
15,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
16,0.5600,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
17,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
18,0.5000,0.5556,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
19,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
20,0.5000,0.5143,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
21,0.4741,0.5000,0.50,0.4872,0.5,0.4741,0.5632,0.5980,0.5000,0.5000,...,0.4074,0.5581,0.5,0.5,0.5,0.5952,0.5000,0.3772,0.4792,0.5
22,0.4500,0.5068,0.50,0.5294,0.5,0.5595,0.5429,0.3548,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5750,0.3696,0.5
23,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
24,0.4815,0.4897,0.50,0.5152,0.5,0.4333,0.4918,0.5238,0.5000,0.5000,...,0.5417,0.5000,0.5,0.5,0.5,0.6429,0.5000,0.5000,0.5526,0.5
25,0.3958,0.5667,0.50,0.5185,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5938,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.3929,0.5000,0.5
26,0.6216,0.4865,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
27,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
28,0.5000,0.7353,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
29,0.5000,0.5614,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
30,0.3289,0.4490,0.50,0.4545,0.5,0.5000,0.3438,0.4423,0.5000,0.5000,...,0.4118,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.4800,0.3846,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,0.5000,0.4474,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
223,0.5000,0.4048,0.50,0.5000,0.5,0.6129,0.5000,0.5517,0.5000,0.5000,...,0.4231,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.3235,0.5200,0.5
235,0.5325,0.4955,0.50,0.5143,0.5,0.5638,0.4667,0.3692,0.5000,0.5000,...,0.5200,0.5200,0.5,0.5,0.5,0.4286,0.5000,0.5443,0.4833,0.5
236,0.4286,0.5758,0.56,0.5556,0.5,0.5378,0.5316,0.5122,0.5000,0.5610,...,0.5577,0.5000,0.5,0.5,0.5,0.4706,0.3846,0.4757,0.4268,0.5
238,0.4865,0.6143,0.50,0.5000,0.5,0.5000,0.5000,0.3462,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
240,0.4571,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
245,0.4260,0.5170,0.50,0.5000,0.5,0.5570,0.5088,0.4110,0.5000,0.5517,...,0.4167,0.5000,0.5,0.5,0.5,0.4250,0.5000,0.5116,0.5000,0.5
246,0.4375,0.5161,0.50,0.5000,0.5,0.4590,0.3571,0.3333,0.5000,0.5000,...,0.4889,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.3860,0.4857,0.5
254,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
266,0.5000,0.5789,0.50,0.5500,0.5,0.5312,0.6071,0.5102,0.5000,0.5000,...,0.6444,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.4576,0.4375,0.5
267,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
268,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
350,0.5224,0.6308,0.50,0.5172,0.5,0.5714,0.5000,0.7381,0.5000,0.5000,...,0.6667,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.4324,0.5591,0.5
360,0.5000,0.5579,0.50,0.5000,0.5,0.5200,0.5000,0.5000,0.5000,0.5000,...,0.4545,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
412,0.4907,0.4649,0.50,0.4359,0.5,0.5778,0.5190,0.6598,0.5000,0.5000,...,0.5833,0.5172,0.5,0.5,0.5,0.3902,0.5000,0.5172,0.5921,0.5
420,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
421,0.4577,0.4762,0.50,0.3158,0.5,0.3875,0.5238,0.5556,0.5000,0.5000,...,0.4255,0.5600,0.5,0.5,0.5,0.5000,0.5000,0.4430,0.3810,0.5
427,0.5000,0.4667,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
429,0.4809,0.4848,0.50,0.4571,0.5,0.3673,0.4737,0.4576,0.5000,0.5000,...,0.5758,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5192,0.5714,0.5
432,0.3065,0.4118,0.50,0.4565,0.5,0.4535,0.5306,0.5745,0.5000,0.2414,...,0.5441,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.4143,0.4151,0.5
497,0.5532,0.4918,0.50,0.4400,0.5,0.4255,0.3600,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.3611,0.5000,0.5
498,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
516,0.5048,0.4767,0.50,0.5641,0.5,0.5000,0.5128,0.4857,0.5000,0.5000,...,0.6389,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5319,0.4571,0.5
517,0.5477,0.5706,0.48,0.4651,0.5,0.5492,0.4851,0.4353,0.5000,0.6129,...,0.5040,0.6346,0.5,0.5,0.5,0.5676,0.5000,0.6259,0.4767,0.5
518,0.5000,0.5000,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
523,0.4694,0.5320,0.50,0.5281,0.5,0.4466,0.4384,0.4684,0.5000,0.5000,...,0.5422,0.5714,0.5,0.5,0.5,0.4516,0.5000,0.4510,0.4308,0.5
555,0.5579,0.4711,0.50,0.3243,0.5,0.4630,0.3659,0.4762,0.5000,0.5000,...,0.3800,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5357,0.4118,0.5
777,0.5000,0.4848,0.50,0.5000,0.5,0.5000,0.5000,0.5000,0.5000,0.5000,...,0.5000,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.5000,0.5000,0.5
875,0.5126,0.5095,0.36,0.4615,0.5,0.5319,0.4891,0.6122,0.5897,0.5833,...,0.5120,0.4727,0.5,0.5,0.5,0.6098,0.5000,0.4919,0.4048,0.5
876,0.5000,0.5603,0.50,0.5000,0.5,0.5286,0.6471,0.5000,0.5000,0.5000,...,0.3488,0.5000,0.5,0.5,0.5,0.5000,0.5000,0.6400,0.4186,0.5