확인 시 clone후 read_csv 통해서 확인하면 바로 가능함.

코드 실행시키면 api 키 값도 없어서 진행도 안될뿐더러, csv를 새로 만들기 때문에 확인불가

In [2]:
import requests 
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pickle

In [8]:
api_key = ''
current_version = requests.get('https://ddragon.leagueoflegends.com/api/versions.json').json()[0]
current_version

'10.23.1'

In [ ]:
# 챔피언 종류 받아와서 아이디, key 따로 저장하기

# 이미 실행되어 파일로 저장되어 있음, 재 실행 금지 (line값 수작업으로 넣었음)

# champion_dict = {}
# r = requests.get('http://ddragon.leagueoflegends.com/cdn/{}/data/ko_KR/champion.json'.format(current_version))
# info_df = pd.DataFrame(r.json())
# for i, champ in enumerate(info_df.data):
#     champion_dict[champ['id']] = champ['key']
    
# champion = pd.DataFrame()
# champion['id'] = 0
# champion['key'] = 0

# for i, champ in enumerate(info_df.data):
#     champion.loc[i] = [champ['id'], champ['key']]
    
# champion.to_csv('../data/champion.csv')

In [266]:
champion = pd.read_csv('../data/champion.csv', index_col=[0])

In [267]:
champion.head()

        id  key  line
0   Aatrox  266     0
1     Ahri  103     2
2    Akali   84     2
3  Alistar   12     4
4    Amumu   32     1

In [ ]:
# 챌~그랜드마스터 구간 유저 1000명 값 불러와서 dataframe으로 만들고 필요없는 컬럼들 제거하기
# 라이엇게임즈 API 제공 데이터 제한으로 인해 챌-그랜드마스터로 우선 진행 후 데이터 추가적으로 필요할 시 더 받을 예정

# 이미 실행되어 파일로 저장되어 있음

# api_challenger = 'https://kr.api.riotgames.com/lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5?api_key=' + api_key
# api_grandmaster = 'https://kr.api.riotgames.com/lol/league/v4/grandmasterleagues/by-queue/RANKED_SOLO_5x5?api_key=' + api_key

# cgm_userData = pd.DataFrame(requests.get(api_challenger).json())
# r = requests.get(api_grandmaster)
# cgm_userData = pd.concat([cgm_userData, pd.DataFrame(r.json())], axis=0)

# cgm_userData.reset_index(inplace=True)
# league_entries_df = pd.DataFrame(dict(cgm_userData['entries'])).T
# cgm_userData = pd.concat([cgm_userData, league_entries_df], axis=1)
# cgm_userData = cgm_userData.drop(['index', 'queue', 'name', 'leagueId', 'entries', 'rank', 'freshBlood', 'hotStreak', 'inactive', 'veteran', 'wins', 'losses'], axis=1)

# cgm_userData['account_id'] = np.nan
# for i, summoner_id in enumerate(cgm_userData[:]['summonerId']):
#     api_url = 'https://kr.api.riotgames.com/lol/summoner/v4/summoners/' + summoner_id + '?api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     account_id = r.json()['accountId']
#     cgm_userData.iloc[i, -1] = account_id

In [ ]:
# accountID로 순서대로 1계정당 100개씩 전적 불러오기

# 이미 실행되어 파일로 저장되어 있음

# season = str(13)
# queue = str(420)
# cgm_gameidInfo = pd.DataFrame()

# i = 0
# for account_id in cgm_userData[:]['account_id']:
#     api_url = 'https://kr.api.riotgames.com/lol/match/v4/matchlists/by-account/' + account_id + \
#                   '?queue=' + queue + '&season' + season + '&api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     cgm_gameidInfo = pd.concat([cgm_gameidInfo, pd.DataFrame(r.json()['matches'])])
#     most = cgm_gameidInfo['champion'][i * 100:(i + 1) * 100].value_counts(sort=True).index[0]
#     cgm_userData['most_champion'][i] = most
#     i += 1

# cgm_userData.to_csv('../data/cgm_userData.csv')

# gameID가 겹치면 삭제. 상위티어이기 때문에 약 60%가량 발생 100000 -> 40812

# cgm_gameidInfo = cgm_gameidInfo.drop_duplicates('gameId')

# 재 실행하면 밑 2줄은 필요 없음
# select_indices = (cgm_gameidInfo['queue']==420) | (cgm_gameidInfo['queue']==440)
# cgm_gameidInfo = cgm_gameidInfo.loc[select_indices, :].reset_index(drop=True)
# cgm_gameidInfo.to_csv('../data/cgm_gameidInfo.csv')

In [255]:
cgm_userData = pd.read_csv('../data/cgm_userData.csv', index_col=[0])

In [260]:
cgm_userData.head()

,tier,leaguePoints,summonerId,summonerName,account_id,most_champion
0,CHALLENGER,870,tHccq6Ajss5Je1pjcq47uMA-cYIAlgF3BvfZn2K_It_lyw,Interlude 2020,pv0TVyiyxKGLhG_BS3p8C4e7VCfeFnW4VKu_OdUtIO0n,105
1,CHALLENGER,1000,e2lk9X_WbJrwPk1C6LXnx48wDidQkctAxS0Ypa2W7SCxFAk,뷔스타,nTWkNKvrJhWBn2cHasUG-75laAOfA0tQfGJcKIbR3rOMTXw,80
2,CHALLENGER,855,sMFMTjmq8k8y2xAt4JMclw48H6kwxmOm0rwfU5_wh2VeguQ,da gong ren1,Sq4EPo-nQR6y-PJVyxAYSKvXjRiOFiLFwE65vkBSEd2H1Qo,80
3,CHALLENGER,912,AiTXlpKlG-rJeQ5iPzokceDykbPij8ujYvVZ1coryil5DB0U,Normal JG,_x0AIk0bvt3XLTp_UNKzERLg402jfk6mDAYzNwmBJCnBD1...,876
4,CHALLENGER,988,rI5bTcVLU1xUhILn55rSJJuVbDHUNet2l5S8vnqrBEUY8Q,DRX 게르세르끼,9CZB0svSmKPWTRuS8rD_Fedq0Cdo4SWUo5pTtMhwYxps,202

In [261]:
cgm_gameidInfo = pd.read_csv('../data/cgm_gameidInfo.csv', index_col=[0])

In [262]:
cgm_gameidInfo.head()

,champion,gameId,lane,platformId,queue,role,season,timestamp
0,875,4771375338,NONE,KR,420,DUO_SUPPORT,13,1604844366180
1,875,4770146326,TOP,KR,420,DUO,13,1604818960847
2,875,4767376134,NONE,KR,420,DUO_SUPPORT,13,1604733123324
3,246,4767361959,MID,KR,420,SOLO,13,1604729191092
4,202,4761504494,NONE,KR,420,DUO_SUPPORT,13,1604485121523

In [ ]:
# 위에서 얻어낸 게임ID를 약 4만개의 실제 게임데이터를 받아옴
# 이미 실행되어 파일로 저장되어 있음

# cgm_match = pd.DataFrame()
# for game_id in cgm_gameidInfo[:]['gameId']:
#     api_url = 'https://kr.api.riotgames.com/lol/match/v4/matches/' + str(game_id) + '?api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     r_json = r.json()
#     temp_df = pd.DataFrame(list(r_json.values()), index=list(r_json.keys())).T
#     cgm_match = pd.concat([cgm_match, temp_df])

# cgm_match.to_csv('../data/cgm_match.csv')

In [3]:
# cgm_gameidInfo2 = pd.read_csv('../data/cgm_gameidInfo2.csv')

In [41]:
# cgm_match2 = pd.DataFrame()

In [43]:
# # 따로 얻어온 gameID 약 8만개의 실제 게임데이터를 받아옴 59211

# for game_id in cgm_gameidInfo2[:]['gameId']:
#     api_url = 'https://kr.api.riotgames.com/lol/match/v4/matches/' + str(int(game_id)) + '?api_key=' + api_key
#     r = requests.get(api_url)
#     while r.status_code!=200:
#         time.sleep(5)
#         r = requests.get(api_url)
#     r_json = r.json()
#     temp_df = pd.DataFrame(list(r_json.values()), index=list(r_json.keys())).T
#     cgm_match2 = pd.concat([cgm_match2, temp_df])

In [263]:
cgm_match1 = pd.read_csv('../data/cgm_match1.csv', index_col=[0])

In [208]:
cgm_match2 = pd.read_csv('../data/cgm_match2.csv', index_col=[0])

In [ ]:
# match_df에 3가지 team, participants, participantIdentities들이 문자열로 받아지는 현상 방지

for column in ['teams', 'participants', 'participantIdentities']:
    cgm_match1[column] = cgm_match1[column].map(lambda v: eval(v))
    cgm_match2[column] = cgm_match2[column].map(lambda v: eval(v))

In [269]:
cgm_match1.head()

,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType,teams,participants,participantIdentities
0,4771375338,KR,1604844366180,1075,420,11,13,10.22.341.643,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
1,4770146326,KR,1604818960847,1606,420,11,13,10.22.341.643,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
2,4767376134,KR,1604733123324,1069,420,11,13,10.22.341.643,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
3,4767361959,KR,1604729191092,1890,420,11,13,10.22.341.643,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
4,4761504494,KR,1604485121523,925,420,11,13,10.22.341.643,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."

In [270]:
cgm_match2.head()

,gameId,platformId,gameCreation,gameDuration,queueId,mapId,seasonId,gameVersion,gameMode,gameType,teams,participants,participantIdentities
0,4247263043,KR,1585154663829,1323,420,11,13,10.6.314.4405,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
1,4247155821,KR,1585152108929,1317,420,11,13,10.6.314.4405,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': F...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
2,4243963257,KR,1585059026141,932,420,11,13,10.6.313.8894,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
3,4241678498,KR,1584977993720,2098,420,11,13,10.6.313.8894,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Fail', 'firstBlood': ...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."
4,4241538868,KR,1584973382886,2344,420,11,13,10.6.313.8894,CLASSIC,MATCHED_GAME,"[{'teamId': 100, 'win': 'Win', 'firstBlood': T...","[{'participantId': 1, 'teamId': 100, 'champion...","[{'participantId': 1, 'player': {'platformId':..."

In [ ]:
# 밴 리스트

In [177]:
# numberWinsChampion = {}
# numberWinsCombination = {}
# numberLosesCombination = {}

# for a in champion_df['key']:
#     list = {}
#     for b in champion_df['key']:
#         if (a == b):
#             continue;
#         list[b] = 0
#     numberWinsChampion[a] = list
    
# for a in champion_df['key']:
#     list = {}
#     for b in champion_df['key']:
#         if (a == b):
#             continue;
#         list[b] = 0
#     numberWinsCombination[a] = list
    
# for a in champion_df['key']:
#     list = {}
#     for b in champion_df['key']:
#         if (a == b):
#             continue;
#         list[b] = 0
#     numberLosesCombination[a] = list

In [183]:
# 게임데이터에서 챔피언 10개의 key값과, 해당 유저 accountID 정보 등 불러오기.
# cgm_match1, cgm_match2를 각각 넣고 실행시켜준다

# for i in range(len(cgm_match1[:])):
#     champion_list = []
#     for _ in range(10):
#         탑 0, 5 정글 1, 6 미드 2, 7 원딜 3, 8 서폿 4, 9로 맞추기 위한 작업필요
#         0~4, 5~9는 이긴 팀이 앞쪽으로 맞추기
#         lane = match_df['participants'][i][_]['timeline']['lane']
#         accountId = match_df['participantIdentities'][i][_]['player']['accountId']
#         championNum = cgm_match1['participants'][i][_]['championId']
#         champion_list.append(championNum)
#     if (cgm_match1['participants'][i][9]['stats']['win']):
#         champion_list = champion_list[5:] + champion_list[:5]
#     for _ in range(5):
#         numberWinsChampion[champion_list[_]][champion_list[_ + 5]] += 1
#     numberWinsCombination[champion_list[0]][champion_list[1]] += 1
#     numberWinsCombination[champion_list[1]][champion_list[0]] = numberWinsCombination[champion_list[0]][champion_list[1]]
#     numberWinsCombination[champion_list[1]][champion_list[2]] += 1
#     numberWinsCombination[champion_list[2]][champion_list[1]] = numberWinsCombination[champion_list[1]][champion_list[2]]
#     numberWinsCombination[champion_list[3]][champion_list[4]] += 1
#     numberWinsCombination[champion_list[4]][champion_list[3]] = numberWinsCombination[champion_list[3]][champion_list[4]]
#     numberLosesCombination[champion_list[5]][champion_list[6]] += 1
#     numberLosesCombination[champion_list[6]][champion_list[5]] = numberLosesCombination[champion_list[5]][champion_list[6]]
#     numberLosesCombination[champion_list[6]][champion_list[7]] += 1
#     numberLosesCombination[champion_list[7]][champion_list[6]] = numberLosesCombination[champion_list[6]][champion_list[7]]
#     numberLosesCombination[champion_list[8]][champion_list[9]] += 1
#     numberLosesCombination[champion_list[9]][champion_list[8]] = numberLosesCombination[champion_list[8]][champion_list[9]]

In [190]:
# with open('../data/numberWinsChampion.pickle','wb') as fw:
#     pickle.dump(numberWinsChampion, fw)

In [191]:
# with open('../data/numberWinsCombination.pickle','wb') as fw:
#     pickle.dump(numberWinsCombination, fw)

In [192]:
# with open('../data/numberLosesCombination.pickle','wb') as fw:
#     pickle.dump(numberLosesCombination, fw)

### 동일한 챔피언인 경우의 NaN값을 -1로 바꿔줌 
### 랭크게임에서 동일한 챔피언은 선택 불가이기 때문에 -1가 152개 나와야 정상
### astype(int)로 df값들을 정수로 변환

In [15]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
numberWinsChampion = pd.DataFrame(numberWinsChampion)
numberWinsChampion.fillna(-1, inplace=True)
numberWinsChampion = numberWinsChampion.astype(int)
numberWinsChampion.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,12,-1,6,6,0,1,0,19,5,0,...,8,1,0,6,7,9,2,4,18,0
84,24,10,-1,51,1,2,2,66,74,6,...,40,44,2,17,13,19,4,4,52,1
12,24,16,36,-1,0,3,2,47,41,2,...,14,14,0,17,6,14,1,8,38,4
32,0,0,1,1,-1,0,0,6,0,0,...,0,0,0,0,0,0,1,0,2,0
34,3,5,4,2,0,-1,0,7,5,0,...,3,3,0,1,1,2,1,1,2,0

In [16]:
with open('../data/numberWinsCombination.pickle', 'rb') as fr:
    numberWinsCombination = pickle.load(fr)
numberWinsCombination = pd.DataFrame(numberWinsCombination)
numberWinsCombination.fillna(-1, inplace=True)
numberWinsCombination = numberWinsCombination.astype(int)
numberWinsCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,16,-1,11,10,0,0,0,22,11,0,...,5,0,0,14,6,1,2,5,0,1
84,23,11,-1,62,1,2,2,81,102,1,...,27,19,0,24,14,19,3,8,30,3
12,36,10,62,-1,3,4,1,73,60,6,...,83,31,0,0,14,22,2,5,63,0
32,1,0,1,3,-1,0,0,1,3,0,...,0,2,0,3,0,0,0,0,1,0
34,8,0,2,4,0,-1,0,15,6,0,...,2,0,1,2,3,1,0,2,0,1

In [17]:
with open('../data/numberLosesCombination.pickle', 'rb') as fr:
    numberLosesCombination = pickle.load(fr)
numberLosesCombination = pd.DataFrame(numberLosesCombination)
numberLosesCombination.fillna(-1, inplace=True)
numberLosesCombination = numberLosesCombination.astype(int)
numberLosesCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,18,-1,6,7,0,0,0,16,9,0,...,5,2,0,16,5,0,0,4,0,1
84,27,6,-1,52,1,1,3,93,111,4,...,18,23,2,27,21,24,3,6,35,10
12,24,7,52,-1,0,5,3,93,57,4,...,55,33,1,0,5,16,6,5,41,1
32,4,0,1,0,-1,0,0,2,2,0,...,2,0,0,3,1,1,1,2,0,0
34,7,0,1,5,0,-1,0,14,8,1,...,1,0,0,2,3,1,0,1,0,0

## 라인별 챔피언

In [18]:
champ = pd.read_csv("../data/champion.csv", index_col=[0])
def select_line(line):
    line = champ.key[champ.line == line]
    line = pd.DataFrame(line)
    lst = []
    for row in line['key']:
        lst.append(row)
    return lst

top_list = select_line(0)
jungle_list = select_line(1)
mid_list = select_line(2)
ad_list = select_line(3)
sup_list = select_line(4)

In [20]:
len(top_list) + len(jungle_list) + len(mid_list)+ len(ad_list)+ len(sup_list)

152

In [24]:
len(top_list)

40

In [32]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
top_dict = {k :v for k, v in numberWinsChampion.items() if k in top_list}
top_df = pd.DataFrame(top_dict)
top_df

,266,164,31,122,36,114,41,86,150,74,...,98,27,14,72,17,23,6,8,106,83
103,12.0,12.0,1.0,6.0,1.0,10.0,6.0,5.0,1.0,1.0,...,5.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,0.0
84,24.0,120.0,2.0,19.0,0.0,38.0,36.0,20.0,3.0,10.0,...,30.0,6.0,4.0,2.0,1.0,9.0,8.0,16.0,33.0,2.0
12,24.0,69.0,2.0,9.0,2.0,22.0,12.0,13.0,1.0,5.0,...,23.0,3.0,0.0,1.0,0.0,4.0,3.0,8.0,12.0,0.0
32,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34,3.0,10.0,1.0,5.0,0.0,3.0,5.0,5.0,0.0,1.0,...,4.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,6.0,7.0,0.0,6.0,0.0,2.0,0.0,5.0,1.0,3.0,...,3.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0,3.0,0.0
26,23.0,18.0,1.0,3.0,2.0,8.0,4.0,8.0,1.0,2.0,...,6.0,2.0,0.0,0.0,2.0,4.0,1.0,9.0,4.0,0.0
142,63.0,86.0,5.0,13.0,2.0,41.0,26.0,29.0,2.0,17.0,...,26.0,12.0,3.0,1.0,4.0,8.0,4.0,27.0,18.0,2.0
143,2.0,5.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,...,2.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
266,NaN,66.0,9.0,22.0,0.0,51.0,17.0,25.0,2.0,9.0,...,29.0,8.0,3.0,3.0,2.0,9.0,7.0,27.0,14.0,1.0

In [33]:
top_df[266][103]/(numberWinsChampion[103][266] + top_df[266][103])

0.46153846153846156