In [2]:
import requests 
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pickle

In [3]:
champ = pd.read_csv("../data/champion.csv", index_col=[0])
def select_line(line):
    line = champ.key[champ.line == line]
    line = pd.DataFrame(line)
    lst = []
    for row in line['key']:
        lst.append(row)
    return lst

top_list = select_line(0)
jungle_list = select_line(1)
mid_list = select_line(2)
ad_list = select_line(3)
sup_list = select_line(4)
top_list

[266,
 164,
 31,
 122,
 36,
 114,
 41,
 86,
 150,
 74,
 420,
 39,
 24,
 126,
 10,
 85,
 240,
 54,
 62,
 82,
 75,
 516,
 78,
 133,
 58,
 107,
 92,
 68,
 13,
 875,
 98,
 27,
 14,
 72,
 17,
 23,
 6,
 8,
 106,
 83]

In [4]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
top_dict = {k :v for k, v in numberWinsChampion.items() if k in top_list}
top_df = pd.DataFrame(top_dict)
top_df[36].value_counts()

0.0    83
1.0    33
2.0    19
3.0    12
4.0     3
5.0     1
Name: 36, dtype: int64

In [5]:
numberWinsChampion = pd.DataFrame(numberWinsChampion)
numberWinsChampion.fillna(-1, inplace=True)
numberWinsChampion = numberWinsChampion.astype(int)
numberWinsChampion.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,12,-1,6,6,0,1,0,19,5,0,...,8,1,0,6,7,9,2,4,18,0
84,24,10,-1,51,1,2,2,66,74,6,...,40,44,2,17,13,19,4,4,52,1
12,24,16,36,-1,0,3,2,47,41,2,...,14,14,0,17,6,14,1,8,38,4
32,0,0,1,1,-1,0,0,6,0,0,...,0,0,0,0,0,0,1,0,2,0
34,3,5,4,2,0,-1,0,7,5,0,...,3,3,0,1,1,2,1,1,2,0

In [ ]:
def win_rate(line_df):
    for champ in line_df:
        for 상대 in line_df[champ][:].index:
            if (numberWinsChampion[상대][champ] + numberWinsChampion[champ][상대]) < 25: 승률 = -1
            else: 승률 =  numberWinsChampion[champ][상대] / (numberWinsChampion[상대][champ] + numberWinsChampion[champ][상대])
            line_df[champ][상대] = round(승률, 4)

win_rate(top_df)
top_df

In [ ]:
for i in top_df[36]:
    if i == -1: print(i)

In [ ]:
top_df