In [1]:
import requests 
import json
import pandas as pd
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
import time
import pickle

In [2]:
champ = pd.read_csv("../data/champion.csv", index_col=[0])
def select_line(line):
    line = champ.key[champ.line == line]
    line = pd.DataFrame(line)
    lst = []
    for row in line['key']:
        lst.append(row)
    return lst

top_list = select_line(0)
jungle_list = select_line(1)
mid_list = select_line(2)
ad_list = select_line(3)
sup_list = select_line(4)

In [3]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
    
top_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in top_list})
jungle_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in jungle_list})
mid_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in mid_list})
ad_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in ad_list})
sup_df = pd.DataFrame({k :v for k, v in numberWinsChampion.items() if k in sup_list})

In [4]:
with open('../data/numberWinsChampion.pickle', 'rb') as fr:
    numberWinsChampion = pickle.load(fr)
numberWinsChampion = pd.DataFrame(numberWinsChampion)
numberWinsChampion.fillna(-1, inplace=True)
numberWinsChampion = numberWinsChampion.astype(int)
numberWinsChampion.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,12,-1,6,6,0,1,0,19,5,0,...,8,1,0,6,7,9,2,4,18,0
84,24,10,-1,51,1,2,2,66,74,6,...,40,44,2,17,13,19,4,4,52,1
12,24,16,36,-1,0,3,2,47,41,2,...,14,14,0,17,6,14,1,8,38,4
32,0,0,1,1,-1,0,0,6,0,0,...,0,0,0,0,0,0,1,0,2,0
34,3,5,4,2,0,-1,0,7,5,0,...,3,3,0,1,1,2,1,1,2,0

In [5]:
def win_rate(line_df):
    for champ in line_df:
        for 상대 in line_df[champ][:].index:
            if (numberWinsChampion[상대][champ] + numberWinsChampion[champ][상대]) < 25: 승률 = 0.5
            else: 승률 =  numberWinsChampion[champ][상대] / (numberWinsChampion[상대][champ] + numberWinsChampion[champ][상대])
            line_df[champ][상대] = round(승률, 4)

In [6]:
win_rate(top_df)
win_rate(jungle_df)
win_rate(mid_df)
win_rate(ad_df)
win_rate(sup_df)

In [7]:
top_df

,266,164,31,122,36,114,41,86,150,74,...,98,27,14,72,17,23,6,8,106,83
103,0.4615,0.5000,0.5,0.5000,0.5,0.5000,0.5000,0.5000,0.5,0.5000,...,0.5000,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.5000,0.5
84,0.4706,0.5063,0.5,0.6129,0.5,0.4634,0.5625,0.7143,0.5,0.5000,...,0.5556,0.50,0.5,0.5,0.5,0.5,0.5,0.4706,0.5893,0.5
12,0.4800,0.4859,0.5,0.5000,0.5,0.4783,0.5000,0.5000,0.5,0.5000,...,0.5750,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.3871,0.5
32,0.5000,0.5000,0.5,0.5000,0.5,0.5000,0.5000,0.5000,0.5,0.5000,...,0.5000,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.5000,0.5
34,0.5000,0.5000,0.5,0.5000,0.5,0.5000,0.5000,0.5000,0.5,0.5000,...,0.5000,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.5000,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0.5000,0.5000,0.5,0.5000,0.5,0.5000,0.5000,0.5000,0.5,0.5000,...,0.5000,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.5000,0.5
26,0.6216,0.4865,0.5,0.5000,0.5,0.5000,0.5000,0.5000,0.5,0.5000,...,0.5000,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.5000,0.5
142,0.5081,0.5375,0.5,0.3333,0.5,0.4767,0.4643,0.5800,0.5,0.5667,...,0.5200,0.48,0.5,0.5,0.5,0.5,0.5,0.4821,0.3673,0.5
143,0.5000,0.5000,0.5,0.5000,0.5,0.5000,0.5000,0.5000,0.5,0.5000,...,0.5000,0.50,0.5,0.5,0.5,0.5,0.5,0.5000,0.5000,0.5
266,0.5000,0.5789,0.5,0.5500,0.5,0.5312,0.6071,0.5102,0.5,0.5000,...,0.6444,0.50,0.5,0.5,0.5,0.5,0.5,0.4576,0.4375,0.5

In [8]:
with open('../data/numberWinsCombination.pickle', 'rb') as fr:
    numberWinsCombination = pickle.load(fr)
numberWinsCombination = pd.DataFrame(numberWinsCombination)
numberWinsCombination.fillna(-1, inplace=True)
numberWinsCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,16.0,-1.0,11.0,10.0,0.0,0.0,0.0,22.0,11.0,0.0,...,5.0,0.0,0.0,14.0,6.0,1.0,2.0,5.0,0.0,1.0
84,23.0,11.0,-1.0,62.0,1.0,2.0,2.0,81.0,102.0,1.0,...,27.0,19.0,0.0,24.0,14.0,19.0,3.0,8.0,30.0,3.0
12,36.0,10.0,62.0,-1.0,3.0,4.0,1.0,73.0,60.0,6.0,...,83.0,31.0,0.0,0.0,14.0,22.0,2.0,5.0,63.0,0.0
32,1.0,0.0,1.0,3.0,-1.0,0.0,0.0,1.0,3.0,0.0,...,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0
34,8.0,0.0,2.0,4.0,0.0,-1.0,0.0,15.0,6.0,0.0,...,2.0,0.0,1.0,2.0,3.0,1.0,0.0,2.0,0.0,1.0

In [9]:
with open('../data/numberLosesCombination.pickle', 'rb') as fr:
    numberLosesCombination = pickle.load(fr)
numberLosesCombination = pd.DataFrame(numberLosesCombination)
numberLosesCombination.fillna(-1, inplace=True)
numberLosesCombination.head()

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,18.0,-1.0,6.0,7.0,0.0,0.0,0.0,16.0,9.0,0.0,...,5.0,2.0,0.0,16.0,5.0,0.0,0.0,4.0,0.0,1.0
84,27.0,6.0,-1.0,52.0,1.0,1.0,3.0,93.0,111.0,4.0,...,18.0,23.0,2.0,27.0,21.0,24.0,3.0,6.0,35.0,10.0
12,24.0,7.0,52.0,-1.0,0.0,5.0,3.0,93.0,57.0,4.0,...,55.0,33.0,1.0,0.0,5.0,16.0,6.0,5.0,41.0,1.0
32,4.0,0.0,1.0,0.0,-1.0,0.0,0.0,2.0,2.0,0.0,...,2.0,0.0,0.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0
34,7.0,0.0,1.0,5.0,0.0,-1.0,0.0,14.0,8.0,1.0,...,1.0,0.0,0.0,2.0,3.0,1.0,0.0,1.0,0.0,0.0

In [10]:
comb_df = (numberWinsCombination + numberLosesCombination)
comb_df

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,34.0,-2.0,17.0,17.0,0.0,0.0,0.0,38.0,20.0,0.0,...,10.0,2.0,0.0,30.0,11.0,1.0,2.0,9.0,0.0,2.0
84,50.0,17.0,-2.0,114.0,2.0,3.0,5.0,174.0,213.0,5.0,...,45.0,42.0,2.0,51.0,35.0,43.0,6.0,14.0,65.0,13.0
12,60.0,17.0,114.0,-2.0,3.0,9.0,4.0,166.0,117.0,10.0,...,138.0,64.0,1.0,0.0,19.0,38.0,8.0,10.0,104.0,1.0
32,5.0,0.0,2.0,3.0,-2.0,0.0,0.0,3.0,5.0,0.0,...,2.0,2.0,0.0,6.0,1.0,1.0,1.0,2.0,1.0,0.0
34,15.0,0.0,3.0,9.0,0.0,-2.0,0.0,29.0,14.0,1.0,...,3.0,0.0,1.0,4.0,6.0,2.0,0.0,3.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,25.0,2.0,6.0,8.0,1.0,0.0,1.0,7.0,3.0,1.0,...,8.0,1.0,0.0,7.0,3.0,7.0,-2.0,4.0,11.0,2.0
26,36.0,9.0,14.0,10.0,2.0,3.0,2.0,68.0,30.0,3.0,...,23.0,2.0,1.0,11.0,17.0,10.0,4.0,-2.0,42.0,3.0
142,172.0,0.0,65.0,104.0,1.0,0.0,3.0,294.0,148.0,1.0,...,27.0,1.0,2.0,102.0,66.0,0.0,11.0,42.0,-2.0,10.0
143,2.0,2.0,13.0,1.0,0.0,1.0,2.0,15.0,15.0,0.0,...,6.0,4.0,0.0,0.0,2.0,8.0,2.0,3.0,10.0,-2.0
266,-2.0,34.0,50.0,60.0,5.0,15.0,4.0,258.0,85.0,24.0,...,72.0,9.0,0.0,93.0,62.0,31.0,25.0,36.0,172.0,2.0

In [11]:
numberWinsCombination/comb_df

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,0.470588,0.500000,0.647059,0.588235,NaN,NaN,NaN,0.578947,0.550000,NaN,...,0.500000,0.000000,NaN,0.466667,0.545455,1.000000,1.000000,0.555556,NaN,0.500000
84,0.460000,0.647059,0.500000,0.543860,0.5,0.666667,0.40,0.465517,0.478873,0.200000,...,0.600000,0.452381,0.0,0.470588,0.400000,0.441860,0.500000,0.571429,0.461538,0.230769
12,0.600000,0.588235,0.543860,0.500000,1.0,0.444444,0.25,0.439759,0.512821,0.600000,...,0.601449,0.484375,0.0,NaN,0.736842,0.578947,0.250000,0.500000,0.605769,0.000000
32,0.200000,NaN,0.500000,1.000000,0.5,NaN,NaN,0.333333,0.600000,NaN,...,0.000000,1.000000,NaN,0.500000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
34,0.533333,NaN,0.666667,0.444444,NaN,0.500000,NaN,0.517241,0.428571,0.000000,...,0.666667,NaN,1.0,0.500000,0.500000,0.500000,NaN,0.666667,NaN,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0.520000,1.000000,0.500000,0.250000,0.0,NaN,0.00,0.428571,0.666667,0.000000,...,0.375000,1.000000,NaN,0.142857,1.000000,0.571429,0.500000,0.500000,0.545455,0.500000
26,0.527778,0.555556,0.571429,0.500000,0.0,0.666667,0.50,0.411765,0.633333,0.666667,...,0.478261,0.000000,0.0,0.454545,0.588235,0.400000,0.500000,0.500000,0.595238,0.666667
142,0.505814,NaN,0.461538,0.605769,1.0,NaN,0.00,0.510204,0.466216,1.000000,...,0.555556,1.000000,0.5,0.441176,0.484848,NaN,0.545455,0.595238,0.500000,0.500000
143,0.000000,0.500000,0.230769,0.000000,NaN,1.000000,1.00,0.466667,0.466667,NaN,...,0.500000,0.750000,NaN,NaN,0.500000,0.625000,0.500000,0.666667,0.500000,0.500000
266,0.500000,0.470588,0.460000,0.600000,0.2,0.533333,0.25,0.507752,0.529412,0.500000,...,0.472222,0.444444,NaN,0.387097,0.532258,0.419355,0.520000,0.527778,0.505814,0.000000

###  조합별 승률

In [12]:
for i in comb_df:
    for j in comb_df[i][:].index:
        if comb_df[i][j] < 25: 승률 = 0.5
        else: 승률 = numberWinsCombination[i][j] / comb_df[i][j]
        comb_df[i][j] = 승률
comb_df

,266,103,84,12,32,34,1,523,22,136,...,157,777,83,350,154,238,115,26,142,143
103,0.470588,0.500000,0.500000,0.500000,0.5,0.5,0.5,0.578947,0.500000,0.5,...,0.500000,0.500000,0.5,0.466667,0.500000,0.500000,0.50,0.500000,0.500000,0.5
84,0.460000,0.500000,0.500000,0.543860,0.5,0.5,0.5,0.465517,0.478873,0.5,...,0.600000,0.452381,0.5,0.470588,0.400000,0.441860,0.50,0.500000,0.461538,0.5
12,0.600000,0.500000,0.543860,0.500000,0.5,0.5,0.5,0.439759,0.512821,0.5,...,0.601449,0.484375,0.5,0.500000,0.500000,0.578947,0.50,0.500000,0.605769,0.5
32,0.500000,0.500000,0.500000,0.500000,0.5,0.5,0.5,0.500000,0.500000,0.5,...,0.500000,0.500000,0.5,0.500000,0.500000,0.500000,0.50,0.500000,0.500000,0.5
34,0.500000,0.500000,0.500000,0.500000,0.5,0.5,0.5,0.517241,0.500000,0.5,...,0.500000,0.500000,0.5,0.500000,0.500000,0.500000,0.50,0.500000,0.500000,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0.520000,0.500000,0.500000,0.500000,0.5,0.5,0.5,0.500000,0.500000,0.5,...,0.500000,0.500000,0.5,0.500000,0.500000,0.500000,0.50,0.500000,0.500000,0.5
26,0.527778,0.500000,0.500000,0.500000,0.5,0.5,0.5,0.411765,0.633333,0.5,...,0.500000,0.500000,0.5,0.500000,0.500000,0.500000,0.50,0.500000,0.595238,0.5
142,0.505814,0.500000,0.461538,0.605769,0.5,0.5,0.5,0.510204,0.466216,0.5,...,0.555556,0.500000,0.5,0.441176,0.484848,0.500000,0.50,0.595238,0.500000,0.5
143,0.500000,0.500000,0.500000,0.500000,0.5,0.5,0.5,0.500000,0.500000,0.5,...,0.500000,0.500000,0.5,0.500000,0.500000,0.500000,0.50,0.500000,0.500000,0.5
266,0.500000,0.470588,0.460000,0.600000,0.5,0.5,0.5,0.507752,0.529412,0.5,...,0.472222,0.500000,0.5,0.387097,0.532258,0.419355,0.52,0.527778,0.505814,0.5